<div class="calendarComponent">
  <button mat-stroked-button (click)="downMonth()">Précédent</button>
  <button mat-stroked-button (click)="upMonth()">Suivant</button>

  <div class="month-indicator">
    <h2>{{ getMonthName(baseDate.getMonth()) }}</h2>
  </div>

  <div class="gridCalendar">
    <div class="day-of-week">
      <div>{{ getDayName(0) }}</div>
      <div>{{ getDayName(1) }}</div>
      <div>{{ getDayName(2) }}</div>
      <div>{{ getDayName(3) }}</div>
      <div>{{ getDayName(4) }}</div>
      <div>{{ getDayName(5) }}</div>
      <div>{{ getDayName(6) }}</div>
    </div>

    <div class="date-grid">
      <div *ngFor="let day of days" class="dayDiv" [style]="getGridPos(day)">
        {{ day.getDate() }}
        <p>Midi: <span class="createMoment" (click)="onClickCreateMeal('Midi', day)">Créer</span></p>
        <p>Soir: <span class="createMoment" (click)="onClickCreateMeal('Soir', day)">Créer</span></p>
      </div>
    </div>
  </div>
</div>

<app-overlay *ngIf="showCreateModalStatus"></app-overlay>

<div class="modalCreateSlot" *ngIf="showCreateModalStatus">
  <form [formGroup]="slotForm" (ngSubmit)="onCreateSlot()">
    <mat-card>
      <mat-card-title>
        <mat-icon class="closeCreateModalIcon" (click)="onClose()">highlight_off</mat-icon>
        <h2>
          Créer un nouveau repas
        </h2>
      </mat-card-title>
      <div class="inputs">

        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" id="date" type="text" formControlName="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label>Sélectionnez le moment</mat-label>
          <mat-select id="momentName" type="text" formControlName="momentName" required>
            <mat-option *ngFor="let moment of momentNames" [value]="moment">
              {{moment}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label>Nombre de personnes</mat-label>
          <mat-slider id="guestNumber" type="number" formControlName="guestNumber" required
            thumbLabel
            tickInterval="1"
            min="1"
            max="20"></mat-slider>
          <textarea matInput hidden></textarea>
        </mat-form-field>

        <br>

        <button mat-raised-button type="submit">Créer</button>
      </div>
    </mat-card>

  </form>
</div>
