<div class="login-form-container">
  <form id="login-form" [formGroup]="loginForm">
    <mat-card>
      <div class="inputs">
        <mat-form-field appearance="fill">
          <mat-label>Entrez votre identifiant</mat-label>
          <input matInput placeholder="Pseudo" id="username" type="text" formControlName="username" required>
          <mat-error *ngIf="loginForm.get('username').invalid">{{getUsernameErrorMessage()}}</mat-error>
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill" *ngIf="checkIfInLoginPage()">
          <mat-label>Entrez votre email</mat-label>
          <input matInput placeholder="pat@example.com" id="email" type="text" formControlName="email" required>
          <mat-error *ngIf="loginForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill">
          <mat-label>Entrer le mot de passe</mat-label>
          <input matInput placeholder="password" id="password" type="password"
                 formControlName="password" required>
          <mat-error *ngIf="loginForm.get('password').invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill" *ngIf="checkIfInLoginPage()">
          <mat-label>Confirmez le mot de passe</mat-label>
          <input matInput placeholder="password" id="passwordConfirmation" type="password"
                 formControlName="passwordConfirmation" required>
          <mat-error *ngIf="loginForm.get('passwordConfirmation').invalid">{{getPasswordConfirmationErrorMessage()}}</mat-error>
        </mat-form-field>

        <br>

        <button mat-raised-button (click)="onClick()">{{validButtonValue}}</button>
        <button mat-raised-button (click)="changeForm()">{{changeButtonValue}}</button>
      </div>
    </mat-card>

  </form>
</div>
