.placeholderDiv
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.placeholder
  text-transform: uppercase
  font-style: italic
  font-weight: bold
  font-size: 6em
  color: rgba(105, 105, 105, 0.3)

form
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

mat-form-field
  display: flex
  justify-content: center
  text-align: center

.closeCreateModalIcon
  color: red
  float: right
  cursor: pointer

.inputs
  text-align: center

.selectedPlanning
  background: white
  height: 100%
