<div>
  <mat-toolbar color="primary">
    <span>MealPlanning</span>
    <span class="spacer"></span>
    <span>
      <a mat-raised-button matTooltip="Dashboard" [routerLink]="'/dashboard'" [routerLinkActive]="'mat-accent'"><mat-icon>home</mat-icon> Dashboard</a>
      <a mat-raised-button matTooltip="Mon compte"><mat-icon>account_box</mat-icon> Mon compte</a>
      <a mat-raised-button matTooltip="Se connecter" [routerLink]="'/login'" [routerLinkActive]="'mat-accent'"><mat-icon>power</mat-icon> Se connecter</a>
    </span>
  </mat-toolbar>
</div>
