<div>
  <mat-toolbar color="primary">
    <span>MealPlanning</span>
    <span class="spacer"></span>
    <span>
      <button mat-raised-button matTooltip="Dashboard"><mat-icon>home</mat-icon> Dashboard</button>
      <button mat-raised-button matTooltip="Mon compte"><mat-icon>account_box</mat-icon> Mon compte</button>
      <button mat-raised-button matTooltip="Se connecter" [routerLink]="'/login'" [routerLinkActive]="'mat-accent'"><mat-icon>power</mat-icon> Se connecter</button>
    </span>
  </mat-toolbar>
</div>
