<div>
  <div class="buttonDiv">
    <button mat-stroked-button color="primary" (click)="onCreate()" class="createButton">Créer
      <mat-icon>add_box</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="planningsDiv">
    <h2>Mes plannings</h2>
    <div *ngFor="let planning of plannings">
      <div>
        <hr>
        <button mat-stroked-button (click)="onSelect(planning)" class="planningButton">{{ planning.name }}</button>
        <button mat-stroked-button class="deleteButton">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <hr>
      </div>
      <br>
    </div>
  </div>
</div>
