@import "./src/styles"

.dashboard
  position: inherit
  display: inherit

mat-sidenav
  margin-top: $navHeight
  height: calc(100% - #{$navHeight})
  min-width: $sidenavMinWidth

mat-sidenav-content
  height: calc(100% - #{$navHeight})
  width: 100vw - mat-sidenav
