<div>
  <mat-card>
    <mat-label>
      <h2>
        Détails du compte
      </h2>
    </mat-label>

    <form id="login-form" [formGroup]="accountForm">
      <label for="username">Pseudo: </label>
      <mat-form-field appearance="outline">
        <input matInput id="username" type="text" formControlName="username">
      </mat-form-field>

      <hr/>

      <label for="email">Email: </label>
      <mat-form-field appearance="outline">
        <input matInput id="email" type="email" formControlName="email">
      </mat-form-field>
    </form>
  </mat-card>
</div>


